.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #fff;
    color: black;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 1000;
}

.scroll-to-top:hover {
    color: #fafae9;
    background: #993344;
    transform: scale(1.1);
}