.custom-form-select, .custom-form-input {
  border-color: #ced4da;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-form-select:hover, .custom-form-input:hover {
  border-color: #000000;
}

.custom-form-select:focus, .custom-form-input:focus {
  border-color: #e11d48 !important;
  box-shadow: 0 0 0 0.15rem rgba(225, 29, 72, 0.2) !important;
}
.custom-form-select {
    cursor: pointer;
}
.custom-form-input {
    cursor: text;
}